#userImage {
  height: 50px;
}

.users {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  padding: 0 auto;
  gap: 3rem;
  list-style: none;
}

@media screen and (max-width: 1000px) {
  .users {
    display: grid;
    grid-template-columns: auto;
    gap: 3rem;
    list-style: none;
  }
}
